################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Task4/RoadMap_bank_Standart.drawio.crswap
